@import url("reset.css");
html,
body {
  height: 100%;
  background-color: #efefef;
  color: #333;
}

#root,
.App {
  height: 100%;
}

.App {
  display: grid;
  grid-template-rows: auto 1fr; /* 第一行高度自适应，第二行占据剩余空间 */
  height: 100%;
}
